#
# Example configuration file.
# You must set the following keys: SECRET_KEY / USERNAME / PASSWORD
# To receive emails and alerts, you should set the following keys: SMTP_* / ALERT_MAIL_*
#

# session
# generate a key with the following and copy/paste the result:
# > import os
# > os.urandom(24)
SECRET_KEY = 

# admin user conf
USERNAME = 
PASSWORD = 

# DB configuration
DB_NAME = 'monni'
DB_HOST = 'localhost'
DB_REPLICA_SET = ''

# SMTP configuration
SMTP_HOST = ''
SMTP_USER = ''
SMTP_PASS = ''

# Alert mails eg: 'alerts@monni.domain.com'
ALERT_RAISE_AFTER = 180 # 3 minutes
ALERT_MAIL_FROM = ''
ALERT_MAIL_TO = ''

# SMS Alert with nexmo
ALERT_SMS_NEXMO_KEY = ''
ALERT_SMS_NEXMO_SECRET = ''
ALERT_SMS_TO = []
