
{% extends "layout.html" %}

{% block body %}
<h2>{{ event.type|safe }}</h2>

<p>
  <strong>Time:</strong> <span id="event-time"></span>
</p>

<pre id="event-data">
</pre>

<form class="" method="post" action="{{ url_for('routeViewServicesNewResolvedEvent', sid=event.sid, type=event.type) }}" role="form" style="margin-bottom: 100px;">
  <h3>Add resolved event</h3>
  <p>All events matching a resolved event data will be automatically marked as resolved.</p>
  <div class="form-horizontal">
    <div class="form-group">
      <label for="inputData" class="control-label col-md-1">Matching data</label>
      <div class="col-md-6">
	<textarea id="inputData" name="data" rows="4" class="form-control">{{ event.datas_dump }}</textarea>
      </div>
    </div>
    <button type="submit" class="btn btn-default">Create new resolved event</button>
  </div>
</form>
{% endblock %}

{% block js %}
<script type="text/javascript">
  function replacer(key, value) {
  if (key == "time") {
  return undefined;
  }
  if (typeof value === "string") {
  return value.replace(/(<)/g, '').replace(/(>)/g, '').replace(/(?:\n)/g, '<br/>');
  }
  return value;
  }

  var json = {{ event.datas_dump|safe }};
  $("#event-time").html(new Date(json["time"]["$date"]));
  $("#event-data").html(JSON.stringify(json, replacer, 2));
</script>
{% endblock %}
