
{% extends "layout.html" %}

{% block body %}
<h1 class="page-header">
  Services Status
  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      <span class="glyphicon glyphicon-cog"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="{{ url_for('routeViewServicesGetForm') }}">Create new service</a></li>
    </ul>
  </div>
</h1>
<div class="service-status">
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="col-md-1">Status</th>
          <th class="col-md-11">Name</th>
        </tr>
      </thead>
      <tbody>
	{% for service in services %}
        <tr>
          <td class="col-md-1">{% if service.IsStatusCheckable()  %}<img src="{% if service.status != 200 %}{{ url_for('static', filename='img/status-red.png') }}{% else %}{{ url_for('static', filename='img/status-green.png') }}{% endif %}" alt="{{ service.status }}" />{% endif %}</td>
          <td class="col-md-11"><a href="{{ url_for('routeViewServices', sid=service.id) }}">{{ service.data.name }}</a></td>
        </tr>
	{% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
