<!doctype html>
<html lang="en">
  <head>
    <title>Monni</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  </head>

  <body>
    <div id="header" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('routeViewIndex') }}"><img src="{{ url_for('static', filename='img/monni-logo.png') }}" alt="Monni" /></a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="{% if header == 'home' %}active{% endif %}"><a href="{{ url_for('routeViewIndex') }}">Home</a></li>
	    <li class="{% if header == 'settings' %}active{% endif %}"><a href="{{ url_for('routeViewSettings') }}">Settings</a></li>
	    <li class="{% if header == 'login' %}active{% endif %}">
	      {% if not session.logged_in %}
	      <a href="{{ url_for('routeViewLogin') }}">Log in</a>
	      {% else %}
	      <a href="{{ url_for('routeViewLogout') }}">Log out</a>
	      {% endif %}
	    </li>
	  </ul>
        </div>
      </div>
    </div>

    <div class="container-fluid">
       <div class="col-sm-3 col-md-2 sidebar">
         <h3><div class="btn-group">
	     <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
	       <span class="glyphicon glyphicon-cog"></span>
	     </button>
	     <ul class="dropdown-menu">
	       <li><a href="{{ url_for('routeViewServicesGetForm') }}">Create new service</a></li>
	     </ul>
	   </div>
	   Services
	 </h3>
          <ul class="nav nav-sidebar">
	    {% for service in services %}
            <li class="{% if sidebar == 'service-' + service.id %}active{% endif %}">
              <a class="row" href="{{ url_for('routeViewServices', sid=service.id) }}"><div class="col-sm-2"> {% if service.IsStatusCheckable()  %}<img src="{% if service.status != 200 %}{{ url_for('static', filename='img/status-red.png') }}{% else %}{{ url_for('static', filename='img/status-green.png') }}{% endif %}" alt="{{ service.status }}" />{% endif %}</div>
	      <div class="col-sm-10">{{ service.data.name }}</div></a>
            </li>
	    {% endfor %}
          </ul>
	  <ul class="nav nav-sidebar">
            <li class="{% if sidebar == 'resolvedEvents' %}active{% endif %}"><a href="{{ url_for('routeViewResolvedEvents') }}">Resolved events</a></li>
	  </ul>
       </div>

       <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	 {% for message in get_flashed_messages() %}
	 <div class="alert alert-info">{{ message }}</div>
	 {% endfor %}
	 <div id="body-content">
	   {% block body %}
	   {% endblock %}
	 </div>
       </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    {% block js %}
    {% endblock %}
  </body>
</html>

