
{% extends "layout.html" %}

{% block body %}
<h1 class="page-header">
  <a href="{{ url_for('routeViewIndex') }}">Services</a> / {{ service.data.name }}
  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      <span class="glyphicon glyphicon-cog"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="{{ url_for('routeViewServicesGetForm', sid=service.id) }}">Edit</a></li>
      <li><a href="{{ url_for('routeViewServicesDelete', sid=service.id) }}">Delete</a></li>
    </ul>
  </div>
</h1>

<div>
  <h3>Basic Events</h3>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="col-md-12">Type</th>
	</tr>
      </thead>
      <tbody>
	{% for e in events %}
	<tr>
          <td class="col-md-12"><a href="{{ url_for('routeViewServicesEvents', sid=service.id, type=e) }}">{{ e }}</a></td>
	</tr>
	{% endfor %}
      </tbody>
    </table>
  </div>

  <h3>Profiled Events</h3>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="col-md-12">Type</th>
	</tr>
      </thead>
      <tbody>
	{% for e in profiledEvents %}
	<tr>
          <td class="col-md-12"><a href="{{ url_for('routeViewServicesProfiledEvents', sid=service.id, type=e) }}">{{ e }}</a></td>
	</tr>
	{% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
